{% extends "base.html" %}
{% block title %}{% endblock %}



{% block head %}
    
	  <p>Hello, I'm Daniel Powell, and thankyou for visiting my page. This page is a showcase for my skills in manufacturing and design. My design skills span the following feilds: <br /> <br />
      - 3D CAD Solidworks <br />
      - CNC Milling <br />
      - Firmware development for Microchip Microcontrollers <br />
      - Bluetooth APP development for Android phones<br /><br />
      Checkout the link's to the left to see examples of my work.</p>
      <p></p>
      <h2>Daily life... </h2>
      <p>Everyday I work on honeing the skills neccesary to bring great concepts to life, from software to physical design, and from prototypes to manufacturable products, with a focus on the use of software and automated machinary to achieve these goals.</p>

	

{% endblock %}
{% block content %}
    
{% endblock %}
