{% extends "base.html" %}
{% block external %} 
  <script type="text/javascript" src="/media/control.js"></script>
{% endblock %}
{% block title %}Control Panel{% endblock %}
{% block head %}

{% endblock %}
{% block content %}

  <br></br>
  <p>
    <label for="power">Intensity:</label>
    <input type="text" id="power" style="border:0; color:#f6931f; font-weight:bold;" />
  </p> 
  <div id="slider_1"></div>
  <br></br>
  {% if pin_list %}
    <ul>
	{% for pin in pin_list %}
	<form method="post" action="." >
      {% csrf_token %}
      <p>{{ pin.pinDescription}} {{ pin.pinDirection}}  
	  <input type="submit" name="pin{{ pin.pinID }}Status" id="{{ pin.pinID }}" value="{{ pin.pinStatus }}" /> </p>
	</form>
	{% endfor %} 
    </ul>
  {% else %}
    <p> none available </p>
  {% endif %}
  <iframe src="http://192.168.0.21:8081" scrolling="no" width="275" height="220" frameboarder="0">
    <p>iframes are not supported by your browser.<p>
  </iframe>
  

  
{% endblock %}
